@tailwind base;
@tailwind components;
@layer components {
    .breadcrumbLink {
        @apply text-indigo-800 hover:text-indigo-600 focus:text-indigo-600 focus:outline-none transition ease-in-out duration-150;
    }
}
@tailwind utilities;

/* DateTimePicker class over-riding  */
.dp__input {
    padding: 8px 35px !important;
    border-color: #d1d5db !important;
    border-radius: .375rem !important;
}

.dp__input_invalid {
    box-shadow: none !important;
    border-color: #ef4444 !important;
}
